Options -Multiviews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^([^\.]+)/([0-9]+)$ index.php?url=$1&id=$2 [NC,L]
RewriteRule ^([^\.]+)$ index.php?url=$1 [L]